[submodule "bookingapp-api"]
	path = bookingapp-api
	url = https://github.com/aayushmehta01/bookingapp-api.git
[submodule "bookingapp-frontend"]
	path = bookingapp-frontend
	url = https://github.com/aayushmehta01/bookingapp-frontend.git
